RewriteEngine On
RewriteBase /

# Direct send.php to /include/send.php
RewriteRule ^send-email\.php$ include/send-email.php [L]

# Remove trailing slash if not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Check if a file with the .php extension exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# If the webpage doesn't exist redirects to Error 404
ErrorDocument 404 /404.php